<div>
  <ul>
    <li>
      <button
        [routerLink]="'/'"
        routerLinkActive="active-button"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        All
      </button>
    </li>
    <li>
      <button
        [routerLink]="'/important'"
        routerLinkActive="active-button"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Important
      </button>
    </li>
    <li>
      <button
        [routerLink]="'/completed'"
        routerLinkActive="active-button"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Completd
      </button>
    </li>
  </ul>
  <button>
    <fa-icon [icon]="signOutIcon"></fa-icon>
    <p>Sign Out</p>
  </button>
</div>
